.DS_Store
**/.DS_Store

# Swift Package Manager
.build/
**/.build/
**/.swiftpm/xcode/xcuserdata/
.swift-module-cache/

# Xcode
DerivedData/
**/DerivedData/
**/xcuserdata/
*.xcuserstate

# Profiling and diagnostics
*.profraw
*.profdata
